<% include header.html %>

<div class="row">
    <div class="large-12 columns">
        <h1>Free food events on campus:</h1>
    </div>
</div>

<div class="row" id="events">
    <% events.forEach(function(event){ %>
        <div class="row panel">

            <div class="large-12">
                <h3><b><%= event.title %></b></h3>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h4><%= event.description %></h4>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <h4>When: <%= event.when %></h4>
                </div>
                <div class="large-6 columns">
                    <h4>Where: <%= event.location %></h4>
                </div>
            </div>

        </div>
    <% }) %>
</div>

<% include footer.html %>
