<% include header.html %>

<div class="row" id="events">
    <% events.forEach(function(event){ %>
        <div class="row panel">

            <div class="large-12">
                <h3><b><a href="<%= event.link %>"><%= event.title %></a></b></h3>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h4><%= event.description %></h4>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <h4>When: <%= event.when %></h4>
                </div>
                <div class="large-6 columns">
                    <h4>Where: <%= event.location %></h4>
                </div>
            </div>

        </div>
    <% }) %>
</div>
<a href="https://github.com/sagnew/RUFreeFood"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>

<% include footer.html %>
